@model List<Community.Models.Message>
@{
    Layout = "_ContactLayout";
    ViewBag.Title = "Recieved Messages List";
}


<table class="table table-sm table-striped table-bordered" border="1">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Sender Name</th>
            <th>Sender Email</th>
            <th>Time</th>
            <th>Message</th>
            <th>Reply</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Message message in Model)
        {
            <tr>
                <td>
                    @if (message.Priority == 0)
                    {<a asp-action="SetPriority" asp-route-msgid="@message.MessageID" asp-route-page="received">Priority</a>}
                    @if (message.Priority == 1)
                    {<p style="color:black;"><b>Low</b></p>}
                    @if (message.Priority == 2)
                    {<p style="color:blue;"><b>Medium</b></p>}
                    @if (message.Priority == 3)
                    {<p style="color:red;"><b>High</b></p>}

                </td>
                <td>@message.From.Name</td>
                <td>@message.From.Email</td>
                <td>@message.TimeStamp</td>
                <td>@message.Text</td>
                <td><a asp-action="ReplyMessage" asp-route-msgid="@message.MessageID">Reply</a></td>
            </tr>
            @if (message.Replies.Count > 0)
            {
                @foreach (Message r in message.Replies)
                {
                    <tr>
                        <td>
                            @if (r.Priority == 0)
                            {<a asp-action="SetPriority" asp-route-msgid="@r.MessageID">Priority</a>}
                            @if (r.Priority == 1)
                            {<p style="color:black;"><b>Low</b></p>}
                            @if (r.Priority == 2)
                            {<p style="color:blue;"><b>Medium</b></p>}
                            @if (r.Priority == 3)
                            {<p style="color:red;"><b>High</b></p>}
                        </td>
                        <td>=> @r.From.Name</td>
                        <td>@r.From.Email</td>
                        <td>@r.TimeStamp</td>
                        <td>@r.Text</td>
                        <td></td>
                        <!--td><a asp-action="ReplyMessage" asp-route-msgid="@r.MessageID">Reply</a></td-->
                    </tr>
                }
            }
        }
    </tbody>
</table>


<a asp-action="ListSentMessage">Messages Sent</a> |
<a asp-action="InputMessage">Send New Message</a> |
<a asp-action="/">Home</a>


