@model List<Community.Models.Message>
@{
    Layout = "_ContactLayout";
    ViewBag.Title = "Sent Messages List";
}


<table class="table table-sm table-striped table-bordered" border="1">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Receiver Name</th>
            <th>Receiver Email</th>
            <th>Time</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Message message in Model)
        {
            <tr>
                <td>
                    @if (message.Priority == 0)
                    {<a asp-action="SetPriority" asp-route-msgid="@message.MsgID" asp-route-page="sent">Priority</a>}
                    @if (message.Priority == 1)
                    {<p style="color:black;"><b>Low</b></p>}
                    @if (message.Priority == 2)
                    {<p style="color:blue;"><b>Medium</b></p>}
                    @if (message.Priority == 3)
                    {<p style="color:red;"><b>High</b></p>}

                </td>
                <td>@message.To.Name</td>
                <td>@message.To.Email</td>
                <td>@message.TimeStamp</td>
                <td>@message.Text</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="ListReceivedMessage">Messages Received</a> |
<a asp-action="InputMessage">Send New Message</a> |
<a asp-action="/">Home</a>

