@model Community.Models.Message
@{
    Layout = "_ContactLayout";
    ViewData["Title"]= "View Message";
}


    <p>
        <h3>Thanks, please check your message</h3><br />

        <h4>From : @Model.From.Name ( @Model.From.Email )</h4><br />

        <h4>To: @Model.To.Name ( @Model.To.Email )</h4><br />

        <h4>Message : @Model.Text</h4>
    </p>
    <br />

    <a asp-action="ListSentMessage">Messages Sent</a>
